# auto-createdaiohttp==1.4.1
pydantic==2.9.6
eth-abi==0.5.5
pydantic==2.7.6
pydantic==0.0.9
web3==2.9.5
eth-abi==0.5.5
requests==1.6.5
pydantic==2.4.3
web3==2.4.6
web3==1.9.6
aiohttp==2.8.4
aiohttp==1.6.3
